<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
    <extension
            point="org.eclipse.epsilon.evl.emf.validation">
        <constraintsBinding
                constraints="validations/asm-plugin-validation.evl"
                modelName="ASM"
                namespaceURI="http://blackbelt.hu/judo/meta/asm">
            <!-- All packages have to register
            <additionalNamespaceURI
                    namespaceURI="http://blackbelt.hu/judo/meta/asm/subpackage">
            </additionalNamespaceURI>
            -->
        </constraintsBinding>
    </extension>
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
                class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
                markerType="org.eclipse.emf.ecore.diagnostic">
        </markerResolutionGenerator>
        <markerResolutionGenerator
                class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
                markerType="org.eclipse.emf.ecoretools.diagram.diagnostic">
        </markerResolutionGenerator>
    </extension>
    <extension
            point="org.eclipse.epsilon.common.dt.tool">
        <tool
                class="hu.blackbelt.judo.meta.asm.runtime.AsmUtils"
                defaultName="asmUtils"/>
    </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ecore -->
      <package
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="org.eclipse.emf.ecore.EcorePackage"
            genModel="model/Ecore.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated Ecore -->
      <parser
            contentTypeIdentifier="org.eclipse.emf.ecore"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated Ecore -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="ecore"
            id="org.eclipse.emf.ecore"
            name="%_UI_Ecore_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/emf/2002/Ecore"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>
</plugin>
